@import "variables";
@import "mixins";

.btn {
  display: block;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;

  svg {
    display: block;
    object-fit: contain;
    fill: currentColor;
  }

  &.with-icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &.icon-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &:hover {
      .title {
        color: rgb(255, 102, 51);
      }
    }

    .num {
      position: absolute;
      right: 20px;
      top: 4px;
      background: $mainPrimary;
      border-radius: 4px;
      padding: 2px 4px;
      @include mobileText-xs;
      line-height: 100%;
      color: $mainPrimaryText;
    }

    svg {
      fill: $mainSurfaceText;
    }

    .title {
      @include desktopText-xs;
      color: $mainSurfaceText;
    }
  }

  &.bg-grayscale-lightest {
    background-color: $grayscaleLightest;
    color: $grayscaleHardest;

    &:hover {
      @include shadowDefault-m;
    }

    &:active {
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }

    &.active {
      background-color: $mainSecondary;
      color: $mainSecondaryText;
    }

    &:disabled {
      background-color: $mainSurface;
      color: $grayscaleLight;
      cursor: auto;

      &:hover, &:active {
        box-shadow: none;
      }
    }
  }

  &.bg-main-primary {
    background-color: $mainPrimary;
    color: $mainPrimaryText;

    &:hover {
      @include shadowPrimary-m;
    }

    &:active {
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background: rgb(252, 213, 186);
      color: $mainPrimary;
      cursor: auto;

      &:hover, &:active {
        box-shadow: none;
      }
    }
  }

  &.bg-main-secondary {
    background-color: $mainSecondary;
    color: $mainSecondaryText;

    &:hover {
      @include shadowSecondary-m;
    }

    &:active {
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      background: rgb(229, 255, 222);
      color: $mainSecondary;
      cursor: auto;

      &:hover, &:active {
        box-shadow: none;
      }
    }
  }

  &.bg-disable-secondary {
    background-color: rgb(229, 255, 222);
    color: $mainSecondary;

    &:hover {
      @include shadowSecondary-m;
    }

    &:active {
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }

  }

  &.border-main-secondary {
    border: 1px solid rgb(112, 192, 91);
    color: $mainSecondary;
    background-color: $mainSurface;

    &:hover {
      @include shadowSecondary-m;
    }

    &:active {
      box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
    }

    &:disabled {
      border: 1px solid rgb(229, 255, 222);
      color: rgb(229, 255, 222);
      cursor: auto;

      &:hover, &:active {
        box-shadow: none;
      }
    }
  }

  &.text-btn {
    color: $grayscaleHardest;

    &:disabled {
      color: $grayscaleLight;
      cursor: auto;
    }
  }

  .btn-title,
  &.btn-title {
    @include desktopText-s;
    min-width: 120px;
    text-align: center;
  }

  &.favorite {
    display: flex;
    width: 32px;
    height: 32px;
    background: rgba(243, 242, 241, .5);
    opacity: 0.5;
    padding: 0;

    svg {
      display: block;
      width: 24px;
      height: 24px;
      object-fit: contain;
      margin: auto;
      fill: rgba(65, 65, 65, .5);
    }

    &:hover {
      background-color: rgba(252, 213, 186, .5);
    }

    &.active {
      background-color: transparent;

      svg {
        fill: $mainSurfaceText;
      }

      &:hover {
        background: rgb(252, 213, 186);
      }
    }
  }


}
