@import "variables";
@import "mixins";

.page {
  margin: auto;
  padding-top: 80px;

  .page-title {
    @include desktopHeader-m;
    color: $mainSurfaceText;
  }

  .section {

    .shop-btns {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-bottom: 24px;
    }

    .articles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-gap: 40px;

      .article-item {
        border-radius: 4px;
        @include shadowDefault-xs;
        background-color: $mainSurface;

        &:hover {
          @include shadowPrimary-m;

          .bg-disable-secondary {
            background-color: $mainSecondary;
            color: $mainSecondaryText;
          }
        }

        .article-img {
          height: 162px;

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            border-radius: 4px 4px 0 0;
          }
        }
        .article-block {
          padding: 10px;

          .date {
            @include desktopText-xs;
            color: $grayscaleHard;
          }

          .title {
            margin: 10px 0;
            @include desktopHeader-xs;
            color: $mainSurfaceText;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .text {
            @include desktopText-s;
            color: $mainSurfaceText;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .btn {
            margin-top: 10px;
          }
        }
      }
    }

    .map-img {
      width: 100%;
      height: 354px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .section-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .title-section {
        @include desktopHeader-m;
        color: $mainSurfaceText;
      }
    }

    .section-grid {
      display: grid;
      grid-template-rows: auto;

      .section-item {
        border-radius: 4px;
        background-color: $mainSurface;
        @include shadowDefault-xs;

        &.empty {
          opacity: .5;
          box-shadow: none !important;
        }

        &:hover {
          @include shadowPrimary-m;

          .border-main-secondary {
            border: none;
            background-color: $mainPrimary;
            color: $mainPrimaryText;

            &:hover {
              @include shadowPrimary-m;
            }

            &:active {
              box-shadow: inset 0 2px 0 0 rgba(0, 0, 0, 0.2);
            }
          }
        }

        .product-image {
          position: relative;
          height: 160px;

          .favorite {
            position: absolute;
            top: 8px;
            right: 8px;
          }

          .discount {
            position: absolute;
            left: 10px;
            bottom: 10px;
          }

          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .product-info {
          padding: 8px;

          .price-block {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .with-card {

              .price {
                @include desktopTextBold-m;
                color: $mainSurfaceText;

                span {
                  margin-left: 4px;
                }
              }

              .title {
                @include desktopText-xs;
                color: $grayscaleLight;
              }
            }

            .without-card {
              .price {
                @include desktopText-s;
                color: $grayscaleHardest;

                span {
                  margin-left: 4px;
                }
              }

              .title {
                @include desktopText-xs;
                color: $grayscaleLight;
                text-align: right;
              }
            }
          }

          .description {
            margin-top: 8px;
            @include desktopText-s;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }

          .rating {
            margin: 8px 0;
          }

          .btn {
            width: 100%;
          }

          .cart-count {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            border-radius: 4px;
            background-color: $mainSecondary;
            padding: 8px;

            .btn {
              padding: 0;
              width: 24px;
              height: 24px;
            }

            .count {
              @include desktopText-s;
              color: $mainSecondaryText;
            }
          }
        }
      }
    }

    .special-offers {
      display: grid;
      grid-template-rows: auto;

      .offers-item {
        border-radius: 4px;
        cursor: pointer;

        &.primary {
          background-color: rgb(252, 213, 186);
          background-image: url("/assets/images/baner.png");
          background-repeat: no-repeat;
          background-position: 319px center;
          background-size: 233px 183px;

          &:hover {
            box-shadow: 0 8px 16px 0 rgba(202, 147, 96, 0.5);
          }
        }

        &.secondary {
          background-color: rgb(229, 255, 222);
          background-image: url("/assets/images/baner2.png");
          background-repeat: no-repeat;
          background-position: 21px 14px;
          background-size: 563px 186px;

          &:hover {
            box-shadow: 4px 8px 16px 0 rgba(112, 192, 91, 0.2);
          }
        }
      }
    }
  }
}
