@media (max-width: 360px) {

}

@media (min-width: 361px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1280px) {

}

@media (min-width: 1281px) {
  .header {

    .header-block {
      width: 1208px;
    }
  }

  .category {

    .category-grid {
      width: 1208px;
      columns: 4 auto;
      column-gap: 40px;
    }
  }
}
