//Colors
$mainBackground: rgb(244, 244, 242);
$mainBackgroundText: rgb(41, 30, 15);
$mainSurface: rgb(255, 255, 255);
$mainSurfaceText: rgb(65, 65, 65);
$mainPrimary: rgb(255, 102, 51);
$mainPrimaryText: rgb(255, 255, 255);
$mainSecondary: rgb(112, 192, 91);
$mainSecondaryText: rgb(255, 255, 255);
$grayscaleLightest: rgb(243, 242, 241);
$grayscaleLight: rgb(191, 191, 191);
$grayscaleHard: rgb(143, 143, 143);
$grayscaleHardest: rgb(96, 96, 96);
$palleteSuccess: rgb(0, 140, 73);
$palleteInfo: rgb(28, 185, 252);
$palleteWarning: rgb(252, 162, 28);
$palleteError: rgb(216, 0, 0);
